/*ШАПКА*/
header {
  display: grid;
  grid-template-columns: 460px auto 300px;
  grid-template-rows: 293px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-style: normal;
}
.list_header {
  display: flex;
  gap: 34px;
}
.header__menu {
  display: flex;
  margin-top: 133px;
  margin-left: 50px;
}
.header__links-list-item_no-bullit {
  display: list-item;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.header__links-list-item {
  display: list-item;
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
}
.header__link_active {
  list-style: none;
  text-decoration: none;
  text-transform: lowercase;
}
.header__link {
  display: list-item;
  text-underline-offset: 4px;
}
.header__logo-image {
  display: flex;
  height: 105px;
  width: 148px;
  margin-left: 20px;
  align-self: center;
}
address {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  font-style: normal;
}
.header__address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    align-items: flex-start;
    margin-top: 95px;
    margin-left: 10px;
}
a {
    text-decoration: underline;
    text-underline-offset: 5px;
}
/*MAIN*/
.cover {
  position: relative;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 175px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 60%;
}
.cover__title {
  position: absolute;
  z-index: 1;
  color: white;
}
.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 115px;
}
.aligned-text_left {
  margin-top: 165px;
  margin-left: 50px;
}
.aligned-text_center {
  margin-top: 20px;
  margin-left: 380.5px;
}
.aligned-text_right {
  margin-top: 20px;
  margin-left: 663px;
}
.cover__description {
  display: flex;
  align-items: center;
  position: absolute;
  width: 1000px;
  height: 51px;
  margin-top: 656px;
  margin-left: 50px;
}
.cover__description-text {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
}
.letter-spacing-extended {
  letter-spacing: 1.1em;
}
.letter-spacing-extended_whitespace {
  letter-spacing: 0.8em;
}
.letter-spacing-extended_whitespacing {
  letter-spacing: 0.9em;
}
.wordspacing {
  word-spacing: 18px;
}
.bet-button {
  position: absolute;
  height: 51px;
  width: 256px;
  margin-left: 744px;
  background: none;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
}
.lots {
    width: 1052px;
    margin-left: 24px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    margin-bottom: 120px;
}
.lots__heading {
    text-transform: uppercase;
    color: black;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin-top: 32px;
}
.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    margin-bottom: 30px;
}
.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}
.card__title {
    z-index: 1;
    font-weight: 700;
    font-style: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: 48px 40px 0 40px;

}
.card__text {
    font-size: 20px;
    z-index: 1;
    margin: 0 40px 50px 40px;
    line-height: 1.2em;
}
.lots__look-more-link {
    color: black;
    font-size: 20px;
    text-transform: lowercase;
    margin-left: 40px;
    text-underline-offset: 5px;
}
.about {
  width: 1052px;
  height: 595px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 27.5px;
  margin-bottom: 180px;
}
.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 37px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__column {
  margin-top: 133px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  margin-top: 3px;
  text-transform: uppercase;
}
.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
footer {
  display: grid;
  grid-template-columns: 265px 164px 240px;
  height: 180px;
  justify-content: space-between;
  padding: 0 50px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.phone_email_footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
}
.footer__menu {
  display: flex;
  justify-content: center;
  align-items: start;
}
.footer__menu-list {
  text-align: center;
  list-style: none;
  text-transform: lowercase;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
