/*ШАПКА*/
header {
  display: grid;
  grid-template-columns: 460px auto 300px;
  grid-template-rows: 293px;
  font-family: Raleway;
  font-style: normal;
}
.list_header {
  display: flex;
  gap: 2em;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.header__links-list-item_no-bullit {
  display: list-item;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
}
.header__links-list-item {
  display: list-item;
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
}
.header__link_active {
  list-style: none;
  text-decoration: none;
  text-transform: lowercase;
}
.header__link {
  display: list-item;
  text-underline-offset: 4px;
}
.header__logo-image {
  display: flex;
  height: 105px;
  width: 148px;
  margin-left: 20px;
  align-self: center;
}
.contact_main {
  margin-left: 10px;
  align-self: center;
  width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.phone_email {
  list-style-type: none;
}
.contact_edit {
  text-underline-offset: 5px;
}
.header_address {
  font-style: normal;
}
/*MAIN*/
.cover {
  position: relative;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 175px;
  font-family: Raleway;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 60%;
}
.cover__title {
  position: absolute;
  z-index: 1;
  color: white;
}
.aligned-text {
  display: block;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 115px;
}
.aligned-text_left {
  margin-top: 165px;
  margin-left: 50px;
}
.aligned-text_center {
  margin-top: 20px;
  margin-left: 380.5px;
}
.aligned-text_right {
  margin-top: 20px;
  margin-left: 663px;
}
.cover__description {
  display: flex;
  align-items: center;
  position: absolute;
  width: 1000px;
  height: 51px;
  margin-top: 656px;
  margin-left: 50px;
}
.cover__description-text {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
}
.letter-spacing-extended {
  letter-spacing: 1.1em;
}
.letter-spacing-extended_8 {
  letter-spacing: 0.8em;
}
.letter-spacing-extended_9 {
  letter-spacing: 0.9em;
}
.wordspacing {
  word-spacing: 18px;
}
.bet-button {
  position: absolute;
  height: 51px;
  width: 256px;
  margin-left: 744px;
  background: none;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
}
.lots {
  display: flex;
  position: relative;
  height: 723px;
  width: 1052px;
  margin: 0 auto;
  margin-bottom: 125px;
  font-family: Raleway;
  font-style: normal;
  color: white;
  font-weight: 400;
}
.h1_edit {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  margin-left: 40px;
}
.frame_main {
  display: flex;
  align-self: center;
  position: absolute;
  height: 596px;
  width: 1052px;
  margin-top: 30px;
}
.frame1,
.frame2,
.frame3 {
  display: flex;
  position: absolute;
  height: 596px;
  width: 334px;
  background-position: center;
  background-size: cover;
}
.frame1 {
  left: 0px;
  background-image: url(/images/card-lot-01.jpg);
}
.frame2 {
  right: 359px;
  background-image: url(/images/card-lot-02.jpg);
}
.frame3 {
  right: 0px;
  background-image: url(/images/card-lot-03.jpg);
}
.p_lots_main_style {
  font-weight: 700;
  font-size: 22px;
  position: absolute;
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 1;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
}
.p_lot_lower_edit {
  font-size: 20px;
  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 1;
  line-height: 120%;
}
.p_lots_lower_style_lot_1 {
  margin-top: 404px;
}
.p_lots_lower_style_lot_2 {
  margin-top: 188px;
}
.p_lots_lower_style_lot_3 {
  margin-top: 284px;
}
.lots__look-more-link {
  margin-top: 705px;
  margin-left: 40px;
  font-size: 20px;
  position: absolute;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: black;
}
.about {
  width: 1052px;
  height: 595px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 27.5px;
  margin-bottom: 180px;
}
.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 37px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about__column {
  margin-top: 133px;
  font-family: Raleway;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  margin-top: 3px;
  text-transform: uppercase;
}
.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
footer {
  display: grid;
  grid-template-columns: 265px 164px 240px;
  height: 180px;
  justify-content: space-between;
  padding: 0 50px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
}
.phone_email_footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
}
.footer__menu {
  display: flex;
  justify-content: center;
  align-items: start;
}
.footer__menu-list {
  text-align: center;
  list-style: none;
  text-transform: lowercase;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
